* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family:  "Helvetica Neue", Helvetica,Arial, "pingfang sc", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, SimSun, sans-serif;
  color: #33353c;
}
.container {
  width: 960px;
  margin: 20px auto 0;
  position: relative;
  z-index: 2;
}
#footer {
  margin-top: 50px;
  color: #666c72;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  // border-top: 1px solid #edf0f5;
}
a {
  color: #33353c;
  text-decoration: none;
}
a:hover {
  color: #06c;
}
.Header_container {
  position: relative;
  display: table;
  min-height: 58px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.nav__placeholder {
  height: 58px;
}
.Header_nav_lf, .Header_nav_rt {
  display: table-cell;
  vertical-align: middle;
  a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 8px 11px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
  }
}
.Header_nav_rt {
  text-align: right;
}
.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #1369bf;
  color: #fff;
  z-index: 999;
}
.item_list {
  padding: 10px 0;
  border-bottom: 1px solid #edf0f5;
  list-style: none;
  h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    color: #666c72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    max-height: 4.8em;
  }
}
.loading-page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #fff, $alpha: .9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
}
.item_line {
  width: 100%;
  display: table;
  font-size: 14px;
  color: #909499;
  margin-top: 15px;
  .item_lb, .item_rt {
    display: table-cell;
    vertical-align: middle;
    span {
      margin-right: 10px;
    }
  }
  .item_rt {
    text-align: right;
  }
}
.mod2 {
  margin-top: 20px;
  h3 {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bolder;
  }
}
.home_list, .mod_list {
  border-top: 1px solid #edf0f5;
  list-style: none;
  li {
    position: relative;
    border-bottom: 1px solid #edf0f5;
    a {
      display: flex;
      padding: 12px 0;
      width: 100%;
      color: #33353c;
      align-items: center;
      justify-content: center;
      i {
        width: 30px;
        font-size: 14px;
        color: #ff0000;
      }
      em { width: 30px;
        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }
      span, strong {
        flex: 1;
      }

      strong {
        padding-left: 10px;
        font-weight: 400;
        font-size: 15px;
      }
      span {
        font-size: 12px;
        color: #666c72;
        text-align: right;
      }
    }
  }
}

.advise {
  margin-top: 20px;
}
img {
  max-width: 100%;
}
.banner-ad {
  height: 120px;
  background: #e4f4ff url('../img/ad.png') no-repeat 50%;
  background-size: 1120px 100%;
}
.mod_list li {
  border-bottom: 0 none;
  a {
    padding: 8px 0px;
  }
}
.mod {
  margin-top: 20px;
  h3 {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bolder;
  }
  ul {
    border-top: 1px solid #edf0f5;
    padding-top: 10px;
    li {
      position: relative;
      padding-left: 14px;
      margin-bottom: 14px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-height: 1.6em;
      max-height: 1.6em;
      font-size: 14px;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #9aa2aa;
      }
    }
  }
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all .5s;
  position: absolute;
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}